@model DatenProtektion.Web.Modelle.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakeFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakeFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedGoodsFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishedGoodsFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SafetyStockLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SafetyStockLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeUnitMeasureCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeUnitMeasureCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightUnitMeasureCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightUnitMeasureCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysToManufacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysToManufacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductModelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscontinuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscontinuedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSubcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSubcategory.ProductSubcategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
